<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
			<% include components/layout.ejs %>
			<div class="container-fluid">
				<div class="jumbotron">
					<h1>Hello, <%= userInfo.username %></h1>
					<p>欢迎来到个人中心～</p>
				</div>
			</div>
	</body>

</html>